$bg-color:#333;
$font-color:#FFF;
$primary-color:#008ed6;
$orange: #ff8000;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size:30px;

.display-4{
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .display-4 {
        font-size:1.8rem;
    }
}

@media screen and (max-width: 768px) {
    h5, .lead {
        font-size:1rem;
    }
}

body{
  background-color: $bg-color;
  color: $font-color;
  font-family: 'Trocchi', serif;
  // padding-top: 58px;
}

a {
  color: #fff;
}

a:hover{
  color: $orange;
  text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
  color: $orange !important;
}

.btn-outline-light:hover {
  color: $orange;
}

#white-bg-link {
  color: #868e96;
}

#white-bg-link:hover {
  color: $orange;
}

.navbar{
  border-bottom: $orange 3px solid;
  opacity: 0.8;
}

.intro{
  color: $orange;
  // font-weight: 600;
}

.footer-items {
  margin-top: 4px;
  margin-bottom: 4px;
}

#home-section{
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay{
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner{
    padding-top: 150px;
  }

  .card-form{
    opacity: 0.8;
  }

  .fa{
    color: $primary-color;
    background: #FFF;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#aims-section, #work-section{
  .fa {
    color:$orange;
    background: #F8F9FA;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#about-section, #support-section {
  .fa{
    color: $primary-color;
    background: #FFF;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#main-footer{
  .fa {
    color:#FFF;
    font-size: 1.5rem;
  }

  .fa:hover{
    color: $orange;
  }
}
